
ul.dropmenu{
	position: relative;
	margin: 0px;
	padding: 1px 0px 0px 0px;
	background: #525D76 repeat-x scroll 0 0;
	display:block;
	height: 32px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
}
.dropmenu li{
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	z-index: 1000;
}
.dropmenu li a{
	height: 22px;
	padding: 9px 30px 0px 15px;
	display: block;
	cursor: point;
	border-right: solid 1px #4a779d;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}
.dropmenu li span{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	background:transparent url(images/arrow-down.gif) repeat-x scroll 0 0;
	position: absolute;
	top: 12px;
	right: 10px;
}
.dropmenu li  a:hover{
	background: #FFF repeat-x scroll 0 0;
	color: #525D76
}

.dropmenu li  a:hover span{
	background:transparent  repeat-x scroll 0 0;
}
.dropmenu li:hover ul, .dropmenu li:hover div{
	display: block;
	z-index: 10000;
}
.dropmenu ul{
	position: absolute;
	display: none;
	width: 180px;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #ccc;
	
}
.dropmenu ul li{
	border: 0;
	float: none;
}
.dropmenu ul a {
  border: 1px solid #ccc;
  border-bottom: 0;
  white-space: nowrap;
  display:block;
  color: #F0F0F0;
  background-color: #525D76;
  text-transform: none;
  z-index: 10000;
}
.dropmenu ul a:hover {
	color:#F67A00 !important;
	text-decoration: none;
	background-color: #F0F0F0;
	background-image: none;
	z-index: 10000;
}
.dropmenu div ul{
	position: relative;
	display: block;
}
.dropmenu li div{
	
	border: 1px solid #ccc;
	padding: 5px;
	display: none;
	position: absolute;
}
.dropmenu li div ul{
	border: none;
	background: none;
	position: relative !important;
}
.dropmenu li div a{
	border: none;
	border-bottom: 1px solid #ccc;
}
.dropmenu li div div{
	display: block;
	position: relative;
	background: none;
	border: none;
}
.dropmenu li div div a{
	display: inline;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}
.dropmenu li div div a:hover{
	color: #000;
	text-decoration: none;
}
